.home-carousel {
    position: relative;
    width: 100%;
    height: 90vh;
}

.carousel-container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition: 0.5s ease;
    opacity: 0;
    z-index: 0;
    visibility: hidden;
}

.slide.active {
    visibility: visible;
    opacity: 1;
    transition: 0.4s ease;
}

.slide::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--background-color), transparent);
}

.slide-backdrop-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    filter: brightness(0.5);
}

.carousel-layout {
    position: absolute;
    display: grid;
    z-index: 1;
    padding: 0 80px 0 80px;
    height: 100%;
}

.images-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    max-width: 1000px;
    transition: 0.5s ease;
    opacity: 0;
    z-index: 0;
    visibility: hidden;
    grid-row: 1;
    grid-column: 1;
}

.slide-content-wrapper.active {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transition: 0.4s ease;
    transition-delay: 0.1s;
}

.slide-logo {
    position: relative;
    max-height: 200px;
    max-width: 700px;
    margin-top: 25px;
}

.slide-logo .media-link {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.slide-logo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    -webkit-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 1));
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 1));
}

.title-details {
    margin-top: 10px;
    opacity: 0.6;
}

.title-details p {
    margin: 0;
}

.slider-pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.pagination-pill {
    width: 25px;
    height: 10px;
    border-radius: 10px;
    background-color: #2e2e2e;
    cursor: pointer;
    transition: 0.3s ease;
    overflow: hidden;
}

.pagination-pill:hover {
    background-color: var(--primary-color);
    opacity: 0.6;
}

.pagination-pill.active {
    width: 60px;
}

.pagination-pill.hovered {
    background-color: var(--primary-color);
}

.pagination-pill-completion {
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-color: var(--primary-color);
}

.slide-interaction {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 20px 0 20px 0;
}

.carousel-button {
    top: 0;
    padding: 25px;
    position: absolute;
    display: flex;
    height: 100%;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    user-select: none;
}

.carousel-button.left {
    left: 0;
    background: linear-gradient(90deg, rgba(15,15,15,0.8015581232492998) 0%, rgba(255,255,255,0) 100%);
}

.carousel-button.left:hover {
    background: linear-gradient(90deg, rgba(15,15,15,1) 0%, rgba(255,255,255,0) 100%);
}

.carousel-button.right {
    right: 0;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(15,15,15,0.8015581232492998) 100%);
}

.carousel-button.right:hover {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(15,15,15,1) 100%);
}

@media screen and (max-width: 600px) {
    .carousel-layout {
        height: 80%;
    }

    .pagination-pill {
        width: 20px;
        height: 8px;
    }

    .pagination-pill.active {
        width: 40px;
    }

    .slide-general-info {
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@media screen and (max-height: 900px) {
    .slide-general-info {
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@media screen and (max-height: 700px) {
    .slide-general-info {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
