.search-bar {
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
    width: 100%;
    padding: 15px 20%;
    position: fixed;
    z-index: 2;
}

.search-results-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-results {
    margin: 0 10vw;
}

.result-card {
    max-height: 500px;
}

.search-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.results-container {
    padding-top: 130px;
}