.watchlist-section-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-bottom: 3px solid var(--secondary-background-color);
    user-select: none;
    -webkit-user-select: none;
}

.watchlist-section-tag {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    padding: 20px 40px;
    cursor: pointer;
    margin-bottom: -3px;
    border-bottom: 3px solid transparent;
}

.watchlist-section-tag:hover {
    background: var(--background-hover-color);
}

.watchlist-section-tag h3 {
    margin: 0;
}

.watchlist-section-tag.active {
    border-bottom: 3px solid var(--primary-color);
}

.watchlist-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
}

.watchlist-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(26, 26, 26, 0.50);
    box-shadow: -2px 5px 24px 1px rgba(0,0,0,0.45);
    -webkit-box-shadow: -2px 5px 24px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: -2px 5px 24px 1px rgba(0,0,0,0.45);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.watchlist-item:hover {
    background: rgba(26, 26, 26, 0.25)
}

.watchlist-item picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.watchlist-item img {
    max-width: 160px;
    border-radius: 10px;
    margin-right: 10px;
    aspect-ratio: 16 / 9;
}

.info {
    flex: 1;
    padding: 0 15px;
}

.info h3 {
    margin: 0;
}

.actions {
    display: flex;
    gap: 15px;
    padding-right: 12px;
    user-select: none;
    -webkit-user-select: none;
}

.actions.mobile {
    display: none;
}

.watchlist-btn {
    font-size: 22px;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.watchlist-btn:hover {
    background-color: var(--background-hover-color);
}

.heart-icon, .trash-icon {
    margin-top: 5px; /* Adjust the vertical alignment */
}

.watchlist-item.watching {
    border-left: 5px solid #f1c40f;
}

.watchlist-item.finished {
    border-left: 5px solid #2ecc71;
}

.watchlist-item.plan-to-watch {
    border-left: 5px solid #3498db;
}

@media screen and (max-width: 768px) {
    .actions.desktop {
        display: none;
    }

    .actions.mobile {
        display: flex;
    }

    .watchlist-section-tag {
        padding: 5px 20px;
    }

    .watchlist-section-tag h3 {
        font-size: 0.8rem;
    }

    .watchlist-item {
        padding: 10px;
    }

    .watchlist-item h3 {
        font-size: 0.8rem;
    }

    .watchlist-item img {
        aspect-ratio: 2 / 3;
        max-width: 70px;
    }
}