.watchlist-section-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-bottom: 3px solid var(--secondary-background-color);
    user-select: none;
}

.watchlist-section-tag {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    padding: 20px 40px;
    cursor: pointer;
    margin-bottom: -3px;
    border-bottom: 3px solid transparent;
}

.watchlist-section-tag:hover {
    background: var(--background-hover-color);
}

.watchlist-section-tag h3 {
    margin: 0;
}

.watchlist-section-tag.active {
    border-bottom: 3px solid var(--primary-color);
}

.watchlist-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 300px;
}

@media screen and (max-width: 768px) {
    .watchlist-section-tag {
        padding: 10px 20px;
    }

    .watchlist-section-tag h3 {
        font-size: 0.8rem;
    }
}