header {
    box-sizing: border-box;
    top: 0;
    position: fixed;
    width: 100%;
    height: var(--nav-height);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--secondary-background-color);
    user-select: none;
    -webkit-user-select: none;
    z-index: 100;
}

.header-section {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--secondary-background-color);
}

.header-hoverable {
    position: relative;
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.2s;
}

.header-hoverable::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.2rem;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transition: ease 0.2s;
}

.header-hoverable.selected::after {
    transform: scaleX(1);
}

.menu-item-title.selected {
    color: var(--primary-color);
}

.header-hoverable:hover {
    cursor: pointer;
    background-color: var(--tertiary-background-color);
}

.hamburger-btn {
    display: none;
}

.hamburger-btn.header-hoverable {
    padding: 0 20px;
    margin-right: 5px;
}

.header-pages {
    visibility: visible;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
}

.nav-header {
    display: flex;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profile-img img {
    width: 40px;
    border-radius: 100%;
}

.genre-dropdown {
    position: absolute;
    list-style: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-background-color);
    margin: 0;
    
    display: grid;
    grid-column-gap: 1.25rem;
    grid-auto-columns: minmax(0,12.5rem);
    grid-auto-flow: column;
    grid-template-rows: repeat(6,1fr);
    padding: 10px 0;
}

.profile-dropdown {
    position: absolute;
    list-style: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-background-color);
    margin: 0;

    width: 100vw;
    max-width: 400px;
}

.dropdown-select-cover {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.2s ease;
    transition-delay: 0.1s;
    
    z-index: 99;
}

.dropdown-select-cover.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.hamburger-menu {
    position: absolute;
    list-style: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-background-color);
    margin: 0;

    width: 100%;
    height: 100dvh;
    max-width: 500px;
    overflow: auto;
}

.hamburger-genres {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}

.hamburger-menu-genres {
    display: none;
    flex-direction: column;
    padding: 5px;
    max-height: 900px;
    background: var(--tertiary-background-color);
}

.hamburger-menu-genres.open {
    display: flex;
}

.hambuger-lings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.profile-dropdown-section {
    border-top: 2px solid var(--tertiary-background-color);
    padding: 10px 0;
}

.menu-profile-section{
    padding: 20px 0;
}

.select-active.select-arrow {
    transform: rotate(180deg);
}

.dropdown {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1vh);
    transition: 0.3s ease;
    top: 100%;
}

.select-active.dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.3s ease;
}

.menu-item {
    cursor: pointer;
    display: list-item;
    height: 40px;
}

.menu-item a {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.menu-item:hover {
    background-color: var(--tertiary-background-color);
}

.select-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: transform ease-in-out 0.3s;
}

.select-button {
    position: relative;
    padding: 0 10px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.2s;
    gap: 0.5rem;
}

.select-button:hover {
    cursor: pointer;
    background-color: #0f0f0f79;
    transition: ease 0.2s;
}

.menu-user-profile-item {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.menu-user-profile-item img {
    width: 70px;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: 15px;
}

.menu-profile-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: 100%;
    min-height: 50px;
    padding: 5px 20px;
    transition: ease 0.2s;
}

.menu-profile-item:hover {
    cursor: pointer;
    background-color: var(--tertiary-background-color);
    transition: ease 0.2s;
}

.menu-profile-item.selected {
    color: var(--primary-color);
}

.menu-item-subtext {
    margin: 3px 0;
    font-size: 0.8rem;
    color: var(--text-color);
    filter: brightness(0.7);
}

.profile-name p:nth-child(1) {
    font-size: 1rem;
    margin: 0;
}

.profile-name p:nth-child(2) {
    font-size: 0.7rem;
    margin: 0;
    filter: brightness(0.6);
}

@media screen and (max-width: 912px) {
    header {
        justify-content: space-between;
        padding: 0;
    }

    .hamburger-btn {
        display: flex;
    }

    .header-pages {
        display: none;
    }

    .app-title {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 480px) { 
    header {
        justify-content: space-between;
    }

    .lists-icon {
        display: none;
    }
}