.profile-wallpaper {
    position: relative;
    height: 22vw;
    width: 100%;
    background-color: var(--background-hover-color);
}

.profile-wallpaper img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile-general-data {
    max-height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.profile-picture {
    position: relative;
    height: 100%;
    width: 100%;
    transform: translateY(-25%);
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--background-color);
    display: flex;
    justify-content: center;
    align-self: center;
}

.upload_pfp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgb(48, 48, 48);
    border: 5px solid var(--background-color);
    padding: 8px;
    border-radius: 100%;
    aspect-ratio: 1;
    cursor: pointer;
}

.profile-picture img {
    aspect-ratio: 1;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgb(48, 48, 48);
    padding: 8px;
    border-radius: 100%;
    aspect-ratio: 1;
    cursor: pointer;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info h4 {
    margin: 0;
}

.user-info p {
    margin: 0;
}

.profile-tabs {
    width: 30%;
}

.profile-page-tab {
    width: 60%;
}

.profile-tabs-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    text-decoration: none;
    list-style: none;
}

.profile-tabs-list li {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
}

.profile-tabs-list li:hover {
    background-color: var(--background-hover-color);
}

.profile-tabs-list li.selected {
    background-color: var(--background-hover-color);
    color: var(--primary-color);
}

.profile-config-tabs {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.profile-tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--background-hover-color);
    padding: 30px;
    border-radius: 10px;
}

.profile-input-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.change-password-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 480px) {
    .profile-config-tabs {
        flex-direction: column;
    }

    .profile-tab-select-menu {
        display: block;
    }

    .profile-page-tab {
        width: 100%;
    }

    .profile-tabs-list {
        flex-direction: row;
        padding: 0;
        text-align: center;
    }

    .profile-tabs {
        width: 100%;
    }

    .profile-picture {
        max-width: 100px;
        min-width: 100px;
    }

    .user-info {
        overflow: hidden;
    }

    .user-info p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}