.input-box {
    position: relative;
    margin: 20px 0;
    width: 320px;
    border-bottom: 2px solid var(--text-color);
    transition: ease 0.2s;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: var(--text-color);
    font-size: 1em;
    pointer-events: none;
    transition: ease 0.3s;
}

input:focus ~ label,
input:valid ~ label {
    left: 0;
    top: -5px;
    font-size: 0.7em;
    color: #b4b4b4;
}

.input-box:focus-within {
    border-bottom: 2px solid var(--primary-color);
}

.input-box.valid {
    border-bottom: 2px solid green;
}

.input-box.valid label {
    color: green;
}

.input-box.valid input:focus ~ label {
    color: #b4b4b4;
}

.input-box.invalid {
    border-bottom: 2px solid red;
}

.input-box.invalid label {
    color: red;
}

.input-box.invalid input:focus ~ label {
    color: #b4b4b4;
}

.input-box input {
    width: 100%;
    height: 35px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
}

.input-box span {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.3em;
    top: 7px;
    cursor: pointer;
}