.progress {
    display: flex;
    align-items: center;
}

.progress span {
    margin: 0 3px;
    font-weight: bold;
}

.progress-btn {
    cursor: pointer;
    color: white;
    font-size: 22px;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s;
    user-select: none;
}

.progress-btn:hover {
    background-color: var(--background-hover-color);
}

.progress-indicator {
    font-size: 1rem;
}

.progress-indicator.input {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: transparent;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
}