.film-backdrop-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: var(--background-color);
    background-position: top;
    background-size: cover;
}

.film-backdrop-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
}

.film-backdrop-container p {
    margin: 0;
    text-align: justify;
}

.film-info-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 10dvh 10vw;
}

.film-poster-container {
    overflow: hidden;
}

.film-poster {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: var(--secondary-background-color);
    background-size: cover;
    border-radius: 20px;
}

.film-overview-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px 30px;
    overflow: hidden;
}

.relevant-info {
    display: flex;
    flex-direction: column;
    opacity: 0.7;
    font-size: 0.9rem;
    gap: 3px;
}

.series-info {
    padding-top: 10px;
    opacity: 0.7;
}

.film-title {
    margin: 0;
}

.film-interaction-container {
    margin-top: 30px;
}

.film-interaction {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    min-height: 40px;
    flex-wrap: wrap;
}

.film-interaction.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.description-title {
    margin-bottom: 0;
}

.film-content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 10vw;
    margin-top: 30px;
    gap: 30px;
}

.film-content-sidebar {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 225px;
    background: var(--secondary-background-color);
    padding: 10px 15px;

}

.sidebar-section .title {
    margin: 15px 0 0 0;
}

.sidebar-section {
    text-align: left;
}

.sidebar-section a {
    margin: 0;
    font-size: 0.8rem;
    opacity: 0.7;
    cursor: pointer;
    max-width: inherit;
    overflow-wrap: break-word;
}

.sidebar-section a:hover {
    opacity: 1;
    border-bottom: 1px solid #fff;
}

.sidebar-section p {
    margin: 0;
    font-size: 0.8rem;
    opacity: 0.7;
    max-width: inherit;
    overflow-wrap: break-word;
}

.film-content-main {
    width: 100%;
    overflow: hidden;
}

.credits-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    overflow-x: auto;
    padding: 10px 0;
    align-items: stretch;
}

@media screen and (max-width: 1024px){
    .film-backdrop-container {
        font-size: 0.8rem;
    }

    .film-info-content {
        padding: 5dvh 5vw;
    }

    .film-content-wrapper {
        padding: 0 5vw;
    }
}

@media screen and (max-width: 870px) {
    .film-content-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .film-content-sidebar { 
        width: 100%;
        flex-direction: row;
        gap: 25px;
        overflow-x: scroll;
        padding: 15px 20px;
    }

    .sidebar-section {
        flex-grow: 1;
        flex-shrink: 0;
    }
}

@media screen and (max-width: 600px) {
    .film-info-content {
        flex-direction: column;
        align-items: center;
        padding: 10dvh 10vw;
    }

    .film-overview-info {
        padding: 20px 0;
    }

    .film-poster {
        max-height: 400px;
    }

    .film-interaction {
        justify-content: center;
    }
}