.modal-container {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 0.2s ease;
    z-index: 100;
}

.modal-container.open {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 30px));
    min-width: 350px;
    border-radius: 10px;
    padding: 2.5rem;
    background-color: var(--background-color);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease;
    z-index: 101;
    box-shadow: 3px 0px 25px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 0px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 25px 0px rgba(0,0,0,0.75);
}

.modal.open {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%,-50%);
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.1s ease;
}

.modal-close:hover {
    background-color: var(--background-hover-color);
}